.Title {
    position: absolute;
    z-index: 9999;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -20%);
    margin: 0px;
    padding: 0;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(108, 27, 231);
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 32px;
    user-select: none;
    }